.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mobile-view {
    display: none;
}

@media screen and (min-width:768px) {
    
    .large-view {
        display: none;
    }
}