/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
/* GENERAL */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    /* background-color: #2754BA; */
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
img {
    width: 100%;
    height: auto;
}
.logo {
    width: 40px;
    /* margin-top: 5rem; */
}
.CTA {
    background-image: linear-gradient(225.58deg, #0099FD 1.84%, #2754BA 65.45%);
    display: block;
    border-radius: 8px;
    padding: .8rem 0;
    background-color: #123962;
    color: white;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

p {
    color: #123962;
}
span {
    font-size: 2.5rem;
}
h1 {
    color: #2754BA;
    margin: .5rem 0;
    font-size: 2.5rem;
}
h2 {
    color: #2754BA;
    margin: 0;
}



/* Header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20); */
    box-shadow: 0px 4px 4px rgba(39, 84, 186, 0.1);
    position: sticky;
    top: 0;
    background-color: #fff;
}




/* Landing */
.frame {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
main {
    margin: 3rem 2rem;
}


/* Links */
button {
    border-radius: 8px;
    padding: .8rem 0;
    background-color: #123962;
    color: white;
    outline: none;
    border: none;
    transition: background-color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
button:hover {
    background-color: #0099FD;
    color: #123962;
    font-weight: bold;
}
.wrapper-links a {
    display: block;
    border-radius: 8px;
    padding: .8rem 0;
    background-color: #123962;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    transition: background-color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.wrapper-links a:hover {
    background-color: #0099FD;
    color: #123962;
    font-weight: bold;
}
.wrapper-links {
    margin: 6rem 0;
    border-top: .5px solid #0098fd4f;
    border-bottom: .5px solid #0098fd4f;
    padding: 6rem 0;
}
.wrapper-links p {
    margin-bottom: 3rem;
}


a i {
    padding-right: .5rem;
}
.wrapper-links button {
    display: block;
    margin: 1rem 0;
    width: 100%;
}
.wrapper-links a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}


/* Contact Us */

form {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2.5rem;
}
form label {
    display: none;
}
form input, textarea {
    /* color: rgba(255, 255, 255, 0.637); */
    border: .5px solid #12396263;
    color: #123962;
    border-radius: 8px;
    padding: .8rem;
    margin: .5rem 0;
    font-family: "Inter", serif;
}
form button {
    margin-top: 1rem;
    font-size: 1rem;
}
form p {
    margin-bottom: 3rem;
}


/* FOOTER */
footer {
    margin-top: 8rem;
    background-color:#2754BA;
    padding: 3rem 0;
}
footer p {
    text-align: center;
    font-size: 1rem;
    color: white;
}


@media screen and (min-width:768px) {

    .frame {
        max-width: 450px;
        margin: auto;
    }

    main {
        padding: 3rem 0;
        margin: 0;
    }
    header {
        display: block;
        text-align: left;
    }
    .header-wrapper {
        max-width: 450px;
        margin: auto;
    }
    

}




/* .logo {
    width: 35px;
} */


/* MENU */
/* 
menu {
    display: none;
}
nav button img {
    height: 24px;
    color: rgba(255, 255, 255, 0.288);
}

nav button {
    background-color: rgba(137, 43, 226, 0);
    border: none;
}
nav i {
    color: white;
}
nav ul li {
    list-style-type: none;
    padding-left: 0;
}
  */
/* MAIN */
/* .wrapper-body {
     background-image: linear-gradient(#123962, #2754BA);
    text-align: center;
} */