.betobe-wrapper {
    padding: 2rem;
}
aside {
    background-color: #FFE45F;

}
aside p {
    color: black;
}
aside h2 {
    color: #021E3A;
}

#betobe form {
    max-width: 450px;
    margin: 2rem auto 5rem auto;
}


@media screen and (min-width:768px) {

    aside {
        padding: 4rem 0;
    }
    .aside-wrapper {
        max-width: 800px;
        margin: auto;
    }

    #b2b #primary {
        margin: 0;
    }
}