
/* GENERAL */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}


@media screen and (min-width:768px) {

    header {
        display: block;
        text-align: left;
    }
   

}

