// footer
.links {
    color: white;
    text-decoration: none;
    padding: .8rem 0;
}
.socials, .bottom-nav ul {
    display: flex;
    flex-flow: column wrap;
}

footer {
    // margin-top: 8rem;
    background-color:#123962;
    padding: 6rem 2rem 4rem 2rem;
}

footer p {
    text-align: center;
    font-size: .8rem;
    color: white;
    margin-top: 3rem;
}
.footer-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
}


@media screen and (min-width:768px) {
    footer {
        padding: 6rem 2rem 4rem 2rem;
    }
    .bottom-nav {
        display: flex;
        align-items: end;
        gap: 0 2rem;
    }
    .bottom-nav ul {
        display: grid;
        grid-template-columns: repeat(1fr);
        align-items: end;
    }
    .bottom-menu {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem 0;
    }
    .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        gap: 1rem 2rem;
    }


}


