/* FOOTER */
footer {
    margin-top: 8rem;
    background-color:#123962;
    padding: 3rem 2rem;
}
footer p {
    text-align: center;
    font-size: .8rem;
    color: white;
    margin-top: 3rem;
}


@media screen and (min-width:768px) {
    footer .socials{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 500px;
        margin: auto;
    }
}