// services
.service-box {
    padding: 1rem;
}

@media screen and (min-width:768px) {

    .wrapper-section {
        padding: 4rem 0;
        max-width: 700px;
        margin: auto;
    }
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .services .box {
        padding-top: 2rem;
    }
    .services > div:nth-child(2){
        grid-row: 2;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        grid-column: 1 / -1;
    }

    .services .box .service-box {
        display: flex;
        flex-flow: column nowrap;
    }
 
}