
.space {
    margin: 1rem 0 2rem 0;
}
.wrapper-section{
    padding: 6rem 2rem;
    margin: 1rem 0;
}

.space-section {
    margin-bottom: 3rem;
}
.highlight {
    font-weight: 600;
    font-size: 1rem;
    // color: #2754BA;
}


@media screen and (min-width:768px) {
    .text-limit {
        width: 600px;
    }
    .two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 2rem;
    }
    .three {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .space {
        margin: 0;
    }
    .wrapper-section {
        padding: 4rem 0;
        max-width: 700px;
        margin: auto;
    }

}