/* Contact Us */
form {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
form label {
    display: none;
}
form input, textarea {
    /* color: rgba(255, 255, 255, 0.637); */
    border: .5px solid #12396263;
    color: #123962;
    border-radius: 8px;
    padding: .8rem;
    margin: .5rem 0;
    font-family: "Inter", serif;
}
.contact button {
    margin-top: 1rem;
    margin: auto;
    font-weight: 600;
}

form p {
    margin-bottom: 3rem;
}



@media screen and (min-width:768px) {

    .contact {
        padding: 6rem 0;
        width: 450px;
        margin: auto;
    }
}