.events-wrapper {
    padding: 2rem;
}
#events .box img {
    width: 100%;
    margin: 0;
}

#events .box .box-services {
    padding: 1rem;
}




@media screen and (min-width:768px) {
    .podcasts-wrapper {
        padding-top: 4rem;
        max-width: 800px;
        margin: auto;
    }

    .event-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
    }
}