#events .box img {
    width: 100%;
}

#events .box .box-services {
    padding: 1rem;
}




@media screen and (min-width:768px) {
    .podcasts-wrapper {
        padding-top: 4rem;
        max-width: 700px;
        margin: auto;
    }

    #events .box img {
        width: 100%;
    }

    .event-wrapper {
        padding: 2rem 0;
    }
}