#newsletter {
    margin-top: 1rem;
    text-align: center;
    height: 25vh;
}


@media screen and (min-width:768px) {
    #newsletter {
        min-height: 60vh;
    }
  
    #newsletter form {
        padding: 6rem 0;
        width: 450px;
        margin: auto;
    }
}